@{
    ViewData["Title"] = "Интеграл | Ошибка";
}

<header>
    <div class="view h-100 d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-lg-5">
                    <div class="card card-cascade card-h-unset wow fadeIn wider reverse" data-wow-delay="0.3s">
                        <div class="view view-cascade overlay">
                            <img class="card-img-top card-img-error" src="~/assets/img/error.jpg"
                                    alt="Произошла ошибка">
                        </div>
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Oooops</strong></h4>
                            <h6 class="font-weight-bold indigo-text py-2">Произошла непредвиденная ошибка</h6>
                            <a class="card-text" asp-controller="Home" asp-action="Index">Вернуться на главую страницу</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>