
@{
    ViewData["Title"] = "Ваш запрос успешно отправлен";
}

<header>
    <div class="view h-100 d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-lg-5">
                    <div class="card card-cascade wow fadeIn wider reverse" data-wow-delay="0.3s">
                        <div class="card-body card-body-cascade text-center">
                            <h5 class="font-weight-bold green-text py-2">Ваш запрос успешно отправлен</h5>
                            <a class="card-text" asp-controller="Home" asp-action="Index">Вернуться на главую страницу</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

