<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <!--throwExceptions="true"-->

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="Console" name="lifetime-console"
            layout="${level:lowercase=true}: ${logger}[0]${newline}      ${message}" />

    <target xsi:type="Database" name="database" dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient">
      <connectionString>
        Server=(localdb)\mssqllocaldb;Database=integral.log.local;Trusted_Connection=True;MultipleActiveResultSets=true
      </connectionString>
      <commandText>
        INSERT INTO dbo.SystemLog (Created, LogLevel, Logger, Message, Username, RequestMethod, Url, QueryString, Body, Exception)
        VALUES (@Created, @LogLevel, @Logger, @Message, @Username, @RequestMethod, @Url, @QueryString, @Body, @Exception);
      </commandText>
      <parameter name="@Created" layout="${longdate}" />
      <parameter name="@LogLevel" layout="${level:uppercase=true}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Username" layout="${aspnet-user-identity}" />
      <parameter name="@RequestMethod" layout="${aspnet-request-method}" />
      <parameter name="@Url" layout="${aspnet-request-url}" />
      <parameter name="@QueryString" layout="${aspnet-request-querystring}" />
      <parameter name="@Body" layout="${aspnet-request-form}" />
      <parameter name="@Exception" layout="${exception:format=ToString}" />
    </target>

    <target xsi:type="File" name="file-critical" fileName="/logs/integral/critical-${shortdate}.log"
            layout="${newline}${longdate} | ${level:uppercase=true}${newline}${logger} | ${message}${when:when='${aspnet-user-identity}'!='':inner=${newline}Username\: ${aspnet-user-identity}${newline}:else=}${when:when='${aspnet-request-url}'!='':inner=${newline}${aspnet-request-method}: ${aspnet-request-url}${when:when='${aspnet-request-querystring}'!='':inner=?:else=}${aspnet-request-querystring}:else=}${when:when='${aspnet-request-form}'!='':inner=${newline}Body\: ${aspnet-request-form}:else=}${when:when='${exception:format=ToString}'!='':inner=${newline}${exception:format=ToString}:else=}" />

    <target xsi:type="Console" name="debug-console"
            layout="${newline}${longdate} | ${level:uppercase=true}${newline}${logger} | ${message}${when:when='${aspnet-user-identity}'!='':inner=${newline}Username\: ${aspnet-user-identity}${newline}:else=}${when:when='${aspnet-request-url}'!='':inner=${newline}${aspnet-request-method}: ${aspnet-request-url}${when:when='${aspnet-request-querystring}'!='':inner=?:else=}${aspnet-request-querystring}:else=}${when:when='${aspnet-request-form}'!='':inner=${newline}Body\: ${aspnet-request-form}:else=}${when:when='${exception:format=ToString}'!='':inner=${newline}${exception:format=ToString}:else=}" />
  </targets>

  <rules>
    <!-- Make hosting environment happy -->
    <logger name="Microsoft.Hosting.Lifetime" writeTo="lifetime-console" final="true" /> 
    
    <!-- Log critical errors to file -->
    <logger enabled="false" name="*" minlevel="Fatal" writeTo="file-critical" />

    <!--Log to DB-->
    <logger enabled="false" name="*" writeTo="database" />

    <!--Log to Console (debug only)-->
    <logger enabled="true" name="*" writeTo="debug-console" />
  </rules>
</nlog>