
@{
    ViewData["Title"] = "Справочник по панели администратора";
}

    <div class="container-fluid">
        <div class="d-flex p-2 justify-content-center">
            <h2 class="h2-responsive d-flex">Справка</h2>
        </div>

        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="common-settings-list" data-toggle="list" href="#common-settings"
                       role="tab">Общие настройки</a>
                    <a class="list-group-item list-group-item-action" id="carousel-settings-list" data-toggle="list" href="#carousel-settings"
                       role="tab" aria-controls="profile">Слайдер</a>
                    <a class="list-group-item list-group-item-action" id="product-settings-list" data-toggle="list" href="#product-settings"
                       role="tab" aria-controls="messages">Редактор продуктов</a>
                    <a class="list-group-item list-group-item-action" id="mail-settings-list" data-toggle="list" href="#mail-settings"
                       role="tab" aria-controls="settings">Настройки почты</a>
                    <a class="list-group-item list-group-item-action" id="changes-settings-list" data-toggle="list" href="#changes-settings"
                       role="tab" aria-controls="settings">Несохраненные изменения</a>
                    <a class="list-group-item list-group-item-action" id="backup-settings-list" data-toggle="list" href="#backup-settings"
                       role="tab" aria-controls="settings">Резервное копирование</a>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 text-justify">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="common-settings" role="tabpanel">
                        Настройки на этой вкладке изменяют одновременно контактную информацию как в секции "Контакты", так и в футере сайта.
                        У поля "Геопозиция на карте" следующий принцип работы: для получения необходимого кода для вставки необходимо воспользовтаься
                        конструктором карт Яндекс. Генератор отобразит код для вставки, однако, для интеграции карты нам нужен не весь код, а только его содержимое
                        из src. При генерировании карты обратите внимание, что ширина должна быть не фиксированной, а занимать 100% ширины блока (соответствующая
                        галочка в генераторе Яндекс должна быть нажата)
                    </div>
                    <div class="tab-pane fade" id="carousel-settings" role="tabpanel">
                        Настройки слайдера состоят из видео файла и соответствующей ему подписи. К загружаемым видео есть ряд рекомендаций.
                        Оптимальным является формат .mp4. Размер загружаемых файлов одновременно не должен превышать 30мб. Перед загрузкой видео
                        убедитесь, что видео скомпрессировано. Наиболее разумным является сжатие до 2-3 мб. на одно видео. Чем больше суммарный
                        размер медиа данных, тем дольше время первой загрузки сайта.
                    </div>
                    <div class="tab-pane fade" id="product-settings" role="tabpanel">
                        При создании и редактировании продуктов все поля являются обязательными для заполнения. Специфика мобильной и настольной версии сайта в следующих
                        ограничениях. Поля "Области применения", "Особености" и "Технические характеристики" в мобильной версии сайта отображают первые 5 элементов списка.
                        Для просмотра остальных пользователь может воспользоваться кнопкой "Подробнее", что перенесет его на вкладку с материалами для
                        скачивания. Если при заполнении продукта объем текста превышает разумные пределы, текст необходимо сократить. Влияние больших
                        текстов на общий интерфейс можно увидеть изменив или создав продукт и не сохраняя изменения просмотреть сайт нажав на соответствующую
                        кнопку в навигации панели администратора.
                    </div>
                    <div class="tab-pane fade" id="mail-settings" role="tabpanel">
                        На странице настройки почты настраивается следующий функционал:
                        <br />
                        Почтовый аккаунт с которого будет приходить почта при обращении клиента с сайта, такой адрес чаще всего должен иметь имя noreply, что подразумевает
                        отсутствие необходимости ответа такому почтовому ящику. Для корректной работы необходимо указать адрес почтового сервера (хост), например smtp.yandex.ru.
                        Порт 567 (приоритетный) или 25. Логин и пароль от почты noreply, необходимый для авторизации серверу сайта. При любых изменениях на странице необходимо
                        повторно ввести пароль от почты. Последнее поле указывает адрес почты сотрудника, ответственного за прием заявок с сайта.
                    </div>
                    <div class="tab-pane fade" id="changes-settings" role="tabpanel">
                        Пункт меню "Несохраненные изменения" доступен только в случае, когда на сайте внесены какие-либо изменения. В этом пукте можно как принять все изменения,
                        так и отклонить полностью. Под кнопками управления изменениями находятся пункты с раскрывающимся списком изменений. Название пункта соответствует
                        разделу сайта в который были внесены изменения. Цветовое разделение пунктов указывает на действие, совершенное с тем или иным объектом, так например зеленый -
                        объект создан и отсутствовал до этого, желтый - существующий объект изменен, красный - объект удален. При нажатии на каждый из пунктов можно
                        увидеть внесенные изменения. В раскрывшемся списке в левой части находится предыдущее состояние объекта, а в правой части внесенные правки. Обратите внимание, 
                        что несохраненные изменения блокируют возможность создания резервной копии сайта.
                    </div>
                    <div class="tab-pane fade" id="backup-settings" role="tabpanel">
                        Пункт резервное копирование поддерживает как создание резервной копии сайта, так и восстановление из копии. При нажатии кнопки "Сохранить текущий сайт" на
                        сервере создается .zip архив с текущим состоянием сайта, который можно либо сохранить, либо удалить. Число резервных копий ограничено только количеством
                        свободного места на хостинге. Восстановление происходит путем загрузки локального файла с архивом в соответствующее поле. После подтверждения действий и
                        удачном восстановлении происходит переход на главную страницу панели администратора. Обратите внимание, что несохраненные изменения блокируют возможность 
                        создания резервной копии сайта.
                    </div>
                </div>
            </div>
        </div>
    </div>